<div class="kui-flex-wrap">
  <style>
    .kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}
    .mt {margin-top: 8px;}
  </style>
  <div class="kai-container" style="padding:5px;font-size:85%;">
    <div>1) API Credit <b>https://opentdb.com/</b></div>
    <div class="mt">2) All data provided by the API is available under the Creative Commons Attribution-ShareAlike 4.0 International License</div>
    <div class="mt">3) You can use <b>ArrowLeft</b> or <b>ArrowRight</b> to navigate between question after the quiz was finished</div>
  </div>
</div>
